
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

button,
input,
optgroup,
select,
textarea {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400; /* Utilisez des valeurs spécifiques pour le poids */
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 1.25vw;
}

/* Styles spécifiques pour les placeholders */
::placeholder {
    font-family: "Inconsolata", monospace;
    font-size: 1.25vw; /* Ajustez la taille selon vos besoins */
    opacity: 1; /* Assurez-vous que le texte soit entièrement opaque */
}

/* Styles spécifiques pour iOS */
@supports (-webkit-touch-callout: none) {
    ::placeholder {
        font-size: 1.25vw; /* Ajustez la taille selon vos besoins */
    }
}

body {
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/*Style de la navbar de la page d'inscription*/

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.logo {
    display: flex;
    gap: 0.8vw;
}

.name_site {
    font-size: 1.5vw;
}

.logo img {
    margin-top: 1.9vh;
}

.link {
    margin-top: 0.8vh;
    font-size: 1.25vw;
    gap: 1.7vw;
    display: flex;
}

.link a {
    color: white;
    margin-top: 2.8vh;
}

/*Style de la navbar de la page d'inscription*/

/*Style du formulaire de login*/
.log {
    font-size: 140%;
    font-weight: bold;
    margin: 0;
}

.login {
    padding-top: 3vh;
    padding-bottom: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-radius: 10px;
}

.body_login {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.log_sign_up {
    display: flex;
    gap: 1vw;
    padding-bottom: 1.5vh;
}

.log_sign_up a {
    margin-top: 2.7vh;
    color: #000;
}

#email, #password {
    width: 22vw;
    padding: 2vh;
    border-radius: 10px;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
}

.choice_login {
    display: flex;
    justify-content:space-around;
    gap: 1vw;
}

.forgot {
    color: #000;
    margin-top: 1.5vh;
}

#forgot:hover {
    background-color: #ffffffd8;
}

#sub_login {
    color: white;
    background-color: black;
    border: none;
    width: 10vw;
    height: 7vh;
    border-radius: 10px;
}

#sub_login:hover {
    background-color: #000000d8;
}

/*Style du formulaire de login*/

/*Style du formulaire de signup*/

.sign {
    font-size: 140%;
    font-weight: bold;
    margin: 0;
}

.signup {
    padding-top: 3vh;
    padding-bottom: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-radius: 10px;
}

.body_signup {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.sign_up_log {
    display: flex;
    gap: 1vw;
    padding-bottom: 1.5vh;
}

.sign_up_log a {
    margin-top: 2.7vh;
    color: #000;
}

#username, #confirm_password {
    width: 22vw;
    padding: 2vh;
    border-radius: 10px;
    border: 1px solid #000;
}

#sub_signup {
    color: white;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    border: none;
    width: 12vw;
    height: 8vh;
    border-radius: 10px;
}

#sub_signup:hover {
    background-color: #000000d8;
}

.dev_choice {
    display: flex;
}

.status {
    margin-top: 2.9vh;
}

#info_dev {
    margin-top: 2vh;
    padding: 0;
    color: red;
    font-size: 90%;
    
}

.dev_choice {
    margin-top: -4vh;
}

/*Style du formulaire de signup*/


@media only screen and (max-width: 599px) {
    /*Style de la navbar de la page d'inscription*/
    nav {
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 0.05vh;
        padding-bottom: 1.8vh;
    }
    
    .logo {
        gap: 1vw;
    }

    .name_site {
        display: none;
    }
    
    .logo img {
        margin-top: 1.3vh;
        height: 8vh;
    }
    
    .link {
        margin-top: 0.4vh;
        gap: 0vh;
        font-size: 4vw;
        flex-direction: column;
        align-items: center;
    }
    
    .link a {
        margin-top: 0vh;
    }
    /*Style de la navbar de la page d'inscription*/

    /*Style du formulaire de login*/
    .log {
        font-size: 140%;
    }

    .login {
        padding-top: 4vh;
        padding-bottom: 5vh;
        padding-left: 1vw;
        padding-right: 1vw;
        margin-top: 10vh;
        width: 75vw;
    }

    .body_login {
        gap: 3vh;

    }

    .log_sign_up {
        gap: 0vw;
        padding-bottom: 3vh;
        flex-direction: column;
    }

    .log_sign_up a {
        margin-top: 0vh;
        margin-left: auto;
        margin-right: auto;
    }

    #email, #password {
        width: 53vw;
        padding: 1.5vh;
        margin-left: auto;
        margin-right: auto;
    }

    .forgot {
        font-size: 4vw;
        margin-top: 0.3vh;
        width: 25vw;
        text-align: center;
    }

    #sub_login {
        width: 28vw;
        height: 6vh;
        border-radius: 13.5px;
        padding: 0;
    }

    .choice_login {
        gap: 0vw;
    }

/*Style du formulaire de login*/

/*Style du formulaire de signup*/

    .signup {
        padding-top: 4vh;
        padding-bottom: 5vh;
        padding-left: 1vw;
        padding-right: 1vw;
        margin-top: 10vh;
        width: 75vw;
    }

    .body_signup {
        gap: 3vh;
    }

    .sign_up_log {
        flex-direction: column;
        gap: 0vw;
        padding-bottom: 3vh;
    }

    .sign_up_log a {
        margin-top: 0vh;
        margin-left: auto;
        margin-right: auto;
    }

    #username, #confirm_password {
        width: 53vw;
        padding: 1.5vh;
        margin-left: auto;
        margin-right: auto;
    }

    #sub_signup {
        width: 35vw;
        height: 5vh;
        padding: 0;
        border-radius: 13.5px;
        margin-top: 1vh;
    }

    
    .status {
        margin-top: 2.2vh;
    }
    
    #info_dev {
        margin-top: 1vh;
        margin-bottom: 0.2vh;
        padding: 0;
        color: red;
        font-size: 70%;
        
    }
    
    .dev_choice {
        margin-top: -2vh;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        font-size: 4vw;
    }

    /* Styles spécifiques pour les placeholders */
    ::placeholder {
        font-size: 4vw; /* Ajustez la taille selon vos besoins */
    }

/* Styles spécifiques pour iOS */
    @supports (-webkit-touch-callout: none) {
        ::placeholder {
            font-size: 4vw; /* Ajustez la taille selon vos besoins */
        }
    }


/*Style du formulaire de signup*/
}