@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* Utilisez des valeurs spécifiques pour le poids */
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.25vw;
  border-radius: 1vw;
}
button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type=submit] {
  padding: 0; /* Supprimer tout padding par défaut */
  display: flex; /* Utiliser flexbox pour centrer le contenu */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  text-align: center; /* Centrer le texte */
  border: none; /* Supprimer la bordure par défaut */
  cursor: pointer; /* Changer le curseur au survol */
}

/* Styles spécifiques pour les placeholders */
::placeholder {
  font-family: "Inconsolata", monospace;
  font-size: 1.25vw; /* Ajustez la taille selon vos besoins */
  opacity: 1; /* Assurez-vous que le texte soit entièrement opaque */
}

/* Styles spécifiques pour iOS */
@supports (-webkit-touch-callout: none) {
  ::placeholder {
    font-size: 1.25vw; /* Ajustez la taille selon vos besoins */
  }
}
body {
  margin: 0;
  font-size: 1.39vw;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  overflow-x: hidden;
}
body p {
  margin: 0;
  padding: 0;
}

/*Style de la navbar de la page d'inscription*/
@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
nav {
  background: linear-gradient(45deg, #000000, #333333, #000000, #565656, #000000);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1.5vh 2vw;
}

.logo {
  display: flex;
  gap: 0.5vw;
}

.name_site {
  margin: auto 0;
  font-weight: bold;
  font-size: 1.7vw;
}

.logo img {
  margin: auto 0;
  height: 4vw;
}

.link {
  margin: auto 0;
  gap: 1.7vw;
  display: flex;
}

.link a {
  margin: auto 0;
  color: white;
}

/*Style de la navbar de la page d'inscription*/
/*Style du formulaire de login*/
.log {
  font-size: 2vw;
  font-weight: bold;
}

.login {
  margin: 10vh 0;
  padding: 7vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  border-radius: 1vw;
}

.body_login {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.log_sign_up {
  display: flex;
  gap: 1vw;
}
.log_sign_up a {
  color: #000;
}

#email, #password {
  width: 22vw;
  padding: 2vh;
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
}

#email {
  width: 22.8vw;
}

.choice_login {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}
.choice_login .forgot {
  margin: auto 0;
}
.choice_login .forgot a {
  color: #000;
}

#forgot:hover {
  background-color: rgba(255, 255, 255, 0.8470588235);
}

#sub_login {
  box-shadow: 0 0 0.75vw rgba(0, 0, 0, 0.5);
  color: white;
  background: linear-gradient(45deg, #000000, #333333, #000000, #565656, #000000);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  border: none;
  width: 10vw;
  height: 7vh;
}

#sub_login:hover {
  cursor: pointer;
}

.login_error {
  color: red;
  font-size: 1vw;
  margin-top: -1vh;
  margin-bottom: -4vh;
  margin-right: 6.5vw;
  padding: 0;
}

/*Style du formulaire de login*/
/*Style du formulaire de signup*/
.sign {
  font-size: 2vw;
  font-weight: bold;
}

.signup {
  margin: 10vh 0;
  padding: 7vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  border-radius: 1vw;
}

.body_signup {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.sign_up_log {
  display: flex;
  gap: 1vw;
}
.sign_up_log a {
  color: #000;
}

#username, #confirm_password {
  width: 22vw;
  padding: 2vh;
  border: 1px solid #000;
}

#username {
  padding-bottom: 2vh;
  width: 22.8vw;
}

#sub_signup {
  box-shadow: 0 0 0.75vw rgba(0, 0, 0, 0.5);
  color: white;
  background: linear-gradient(45deg, #000000, #333333, #000000, #565656, #000000);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  border: none;
  width: 12vw;
  height: 7vh;
}

.dev_choice {
  display: flex;
  flex-direction: row;
}

.status {
  margin-top: auto;
  margin-bottom: auto;
}

#info_dev {
  color: red;
  font-size: 1vw;
  margin-top: -2vh;
  margin-bottom: -3vh;
}

#password, #confirm_password {
  border: none;
  width: 18.5vw;
}

.password_container {
  background-color: rgb(255, 255, 255);
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border: 1px solid #000;
  border-radius: 1vw;
}
.password_container img {
  height: 1.7vw;
  vertical-align: middle;
  cursor: pointer;
}

.error_email {
  color: red;
  font-size: 1vw;
  margin-top: -2.2vh;
  margin-bottom: -4vh;
  margin-left: 0.5vw;
}

.error_password {
  color: red;
  font-size: 1vw;
  margin-top: -2.2vh;
  margin-bottom: -4vh;
  margin-left: 0.5vw;
}

/*Style du formulaire de signup*/
/*Style du menu du catalog*/
.user {
  margin: auto 0;
  height: 3vw;
}

.menu {
  display: none;
  background-color: rgb(25, 24, 24);
  position: absolute;
  width: 20vw;
  top: 0;
  right: -21vw;
  border-radius: 2vw 0vw 0vw 2vw;
  border-right: 1px solid rgb(25, 24, 24);
}

.headermenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2vw 0vw 0vw 0vw;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding: 2.45vh 0.5vw;
}
.headermenu img {
  height: 1.5vw;
}

.usernamemenu {
  display: flex;
  gap: 0.3vw;
  justify-content: space-between;
}

.usernamemenu img {
  height: 3vw;
}

.usernamemenu p {
  color: #ffffff;
  margin: auto 0;
}

.close {
  padding: 0.2vw;
  border-radius: 0.3vw;
}

.close:hover {
  background-color: rgba(255, 255, 255, 0.4705882353);
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 3vw;
  gap: 4vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 0;
  list-style-type: none;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  padding: 0.2vw;
  border-radius: 0.3vw;
}

.menu ul li a:hover {
  background-color: rgba(255, 255, 255, 0.337254902);
}

/*Style du menu du catalog*/
@media only screen and (max-width: 599px) {
  /*Style du body*/
  body {
    font-size: 4vw;
  }
  /*Style de la navbar de la page d'inscription*/
  nav {
    padding: 1vh 3vw;
  }
  .name_site {
    display: none;
  }
  .logo img {
    height: 16vw;
  }
  .link {
    gap: 1.5vh;
    flex-direction: column;
    align-items: center;
  }
  /*Style de la navbar de la page d'inscription*/
  /*Style du formulaire de login*/
  .log {
    font-size: 6vw;
  }
  .login {
    padding: 4vh 1vw;
    margin-top: 10vh;
    width: 78vw;
    border-radius: 3vw;
    gap: 2vh;
  }
  .login_error {
    font-size: 2.5vw;
    margin-top: 0;
    margin-bottom: -2vh;
    margin-right: 19vw;
  }
  .body_login {
    gap: 3vh;
  }
  .log_sign_up {
    text-align: center;
    gap: 1vh;
    flex-direction: column;
  }
  #email, #password {
    width: 53vw;
    padding: 1.5vh;
    margin-left: auto;
    margin-right: auto;
  }
  #email {
    width: 60vw;
  }
  #sub_login {
    width: 28vw;
    height: 6vh;
  }
  .choice_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }
  /*Style du formulaire de login*/
  /*Style du formulaire de signup*/
  .sign {
    font-size: 6vw;
  }
  .signup {
    padding: 4vh 1vw;
    margin-top: 10vh;
    width: 78vw;
    border-radius: 3vw;
    gap: 2.5vh;
  }
  .body_signup {
    gap: 3vh;
  }
  .sign_up_log {
    text-align: center;
    gap: 1vh;
    flex-direction: column;
  }
  #username, #confirm_password {
    width: 53vw;
    padding: 1.5vh;
    margin-left: auto;
    margin-right: auto;
  }
  #username {
    width: 60vw;
  }
  #sub_signup {
    width: 37vw;
    height: 6vh;
  }
  #info_dev {
    margin-top: -1.2vh;
    margin-bottom: -1.7vh;
    font-size: 2.5vw;
  }
  #password, #confirm_password {
    width: 50vw;
    padding: 1.5vh;
  }
  .password_container {
    padding-left: 0vw;
    padding-right: 0vw;
    border: 1px solid #000;
    border-radius: 3vw;
  }
  .password_container img {
    height: 4.5vw;
  }
  .error_email {
    font-size: 2.5vw;
    margin-top: -1.2vh;
    margin-bottom: -3vh;
    margin-left: 2.5vw;
  }
  .error_password {
    font-size: 2.5vw;
    margin-top: -1.2vh;
    margin-bottom: -3vh;
    margin-left: 2.5vw;
  }
  /*Style du formulaire de signup*/
  /*Style du menu du catalog*/
  .user {
    height: 12vw;
  }
  .menu {
    width: 55vw;
    top: 0;
    right: -54vw;
    border-radius: 5vw 0vw 0vw 5vw;
  }
  .headermenu {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;
    border-radius: 5vw 0vw 0vw 0vw;
    border-bottom: 1px solid #ffffff;
  }
  .headermenu img {
    height: 5vw;
    padding: 1vw;
  }
  .usernamemenu {
    gap: 0vw;
  }
  .usernamemenu img {
    height: 12vw;
  }
  .close {
    padding: 1vw;
    border-radius: 5vw;
  }
  .menu ul {
    font-size: 4vw;
    margin-left: 4vw;
    gap: 4.5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .menu ul li a {
    padding: 1vw;
    border-radius: 1vw;
  }
  /*Style du menu du catalog*/
  /*Style des normalize*/
  button,
  input,
  optgroup,
  select,
  textarea {
    font-size: 4vw;
    border-radius: 3vw;
  }
  /* Styles spécifiques pour les placeholders */
  ::placeholder {
    font-size: 4vw; /* Ajustez la taille selon vos besoins */
  }
  /* Styles spécifiques pour iOS */
  @supports (-webkit-touch-callout: none) {
    ::placeholder {
      font-size: 4vw; /* Ajustez la taille selon vos besoins */
    }
  }
  /*Style des normalize*/
}
/*Médias queries pour les téléphones en mode paysage*/
@media only screen and (min-width: 601px) and (max-width: 1024px) and (min-height: 0px) and (max-height: 500px) {
  /*Style du body*/
  body {
    font-size: 2vw;
  }
  /*Style des normalize*/
  button,
  input,
  optgroup,
  select,
  textarea {
    font-size: 2vw;
  }
  /* Styles spécifiques pour les placeholders */
  ::placeholder {
    font-size: 2vw; /* Ajustez la taille selon vos besoins */
  }
  /* Styles spécifiques pour iOS */
  @supports (-webkit-touch-callout: none) {
    ::placeholder {
      font-size: 2vw; /* Ajustez la taille selon vos besoins */
    }
  }
  /*Style des normalize*/
  /*Style de la navbar de la page d'inscription*/
  .name_site {
    font-size: 2.5vw;
  }
  .logo {
    gap: 1vw;
  }
  nav {
    padding: 3vh 2vw;
  }
  .logo img {
    height: 6vw;
  }
  .user {
    height: 6vw;
  }
  /*Style du menu*/
  .menu {
    width: 27vw;
  }
  .headermenu {
    padding: 2.7vh 0.5vw;
  }
  .headermenu img {
    height: 2vw;
  }
  .usernamemenu img {
    height: 6vw;
  }
  .menu ul {
    gap: 5vh;
  }
  /*Style du formulaire de login*/
  .log {
    font-size: 3vw;
  }
  .login {
    margin: 10vh 0;
    padding: 7vh 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    width: 33vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-radius: 1vw;
  }
  .body_login {
    display: flex;
    flex-direction: column;
    gap: 4vh;
  }
  .log_sign_up {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1vh;
  }
  #email, #password {
    width: 22vw;
    height: 5vh;
    padding: 2vh;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
  }
  #email {
    width: 27.5vw;
  }
  .choice_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
  }
  #sub_login {
    width: 15vw;
    height: 10vh;
  }
  .login_error {
    font-size: 1.3vw;
    margin-top: -1vh;
    margin-bottom: -4vh;
    margin-right: 7vw;
  }
  /*Style du formulaire de login*/
  /*Style du formulaire de signup*/
  .sign {
    font-size: 3vw;
    color: red;
  }
  .signup {
    margin: 10vh 0;
    padding: 7vh 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    width: 33vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-radius: 1vw;
  }
  .body_signup {
    display: flex;
    flex-direction: column;
    gap: 4vh;
  }
  .sign_up_log {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1vh;
  }
  #username, #confirm_password {
    width: 22vw;
    height: 5vh;
    padding: 2vh;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
  }
  #username {
    width: 27.5vw;
  }
  #sub_signup {
    width: 18vw;
    height: 10vh;
  }
  .dev_choice {
    display: flex;
    flex-direction: row;
  }
  .status {
    margin-top: auto;
    margin-bottom: auto;
  }
  #info_dev {
    margin-top: -1vh;
    margin-bottom: -3vh;
    font-size: 1.3vw;
  }
  #password, #confirm_password {
    border: none;
    width: 22vw;
  }
  .password_container {
    background-color: rgb(255, 255, 255);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border: 1px solid #000;
    border-radius: 1vw;
  }
  .password_container img {
    height: 2vw;
    vertical-align: middle;
    cursor: pointer;
  }
  .error_email {
    color: red;
    font-size: 1.3vw;
    margin-top: -2vh;
    margin-bottom: -4vh;
    margin-left: 0.5vw;
  }
  .error_password {
    color: red;
    font-size: 1.3vw;
    margin-top: -2vh;
    margin-bottom: -4vh;
    margin-left: 0.5vw;
  }
  /*Style du formulaire de signup*/
}
/*Médias queries pour les tablettes*/
@media only screen and (min-width: 601px) and (max-width: 1024px) and (min-height: 501px) {
  /*Style du normalize*/
  button,
  input,
  optgroup,
  select,
  textarea {
    font-size: 2.5vw;
  }
  /* Styles spécifiques pour les placeholders */
  ::placeholder {
    font-family: "Inconsolata", monospace;
    font-size: 2.5vw; /* Ajustez la taille selon vos besoins */
    opacity: 1; /* Assurez-vous que le texte soit entièrement opaque */
  }
  /* Styles spécifiques pour iOS */
  @supports (-webkit-touch-callout: none) {
    ::placeholder {
      font-size: 2.5vw; /* Ajustez la taille selon vos besoins */
    }
  }
  /*Style du normalize*/
  /*Style du body*/
  body {
    font-size: 2.5vw;
  }
  /*Style du body*/
  /*Style de la navbar de la page d'inscription*/
  nav {
    padding: 3vh 2vw;
  }
  .logo {
    gap: 1vw;
  }
  .name_site {
    font-size: 2.7vw;
  }
  .logo img {
    height: 6vw;
  }
  .link {
    gap: 2vw;
  }
  /*Style de la navbar de la page d'inscription*/
  /*Style du formulaire de login*/
  .log {
    font-size: 3.5vw;
  }
  .login {
    margin: 10vh 0;
    padding: 4vh 5vw;
    gap: 4vh;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-radius: 1vw;
  }
  .body_login {
    gap: 4vh;
  }
  .log_sign_up {
    display: flex;
    gap: 3vw;
  }
  #email, #password {
    width: 37vw;
    padding: 1.5vh;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
  }
  #email {
    width: 42vw;
  }
  .choice_login {
    gap: 3vw;
  }
  #sub_login {
    width: 19vw;
    height: 5vh;
  }
  .login_error {
    font-size: 2.2vw;
    margin-top: -1vh;
    margin-bottom: -4vh;
    margin-right: 10vw;
    padding: 0;
  }
  /*Style du formulaire de login*/
  /*Style du formulaire de signup*/
  .sign {
    font-size: 3.5vw;
  }
  .signup {
    margin: 10vh 0;
    padding: 4vh 5vw;
    gap: 4vh;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-radius: 1vw;
  }
  .body_signup {
    gap: 4vh;
  }
  .sign_up_log {
    display: flex;
    gap: 3vw;
  }
  #username, #confirm_password {
    width: 37vw;
    padding: 1.5vh;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
  }
  #username {
    width: 42vw;
  }
  #sub_signup {
    width: 23vw;
    height: 5vh;
  }
  .dev_choice {
    display: flex;
    flex-direction: row;
  }
  .status {
    margin-top: auto;
    margin-bottom: auto;
  }
  #info_dev {
    font-size: 2.2vw;
    margin-top: -2vh;
    margin-bottom: -3vh;
  }
  #password, #confirm_password {
    border: none;
    width: 37vw;
  }
  .password_container {
    background-color: rgb(255, 255, 255);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border: 1px solid #000;
    border-radius: 1vw;
  }
  .password_container img {
    height: 2.3vw;
    vertical-align: middle;
    cursor: pointer;
  }
  .error_email {
    font-size: 2.2vw;
    margin-top: -2.2vh;
    margin-bottom: -4vh;
    margin-left: 0.5vw;
  }
  .error_password {
    font-size: 2.2vw;
    margin-top: -2.2vh;
    margin-bottom: -4vh;
    margin-left: 0.5vw;
  }
  /*Style du formulaire de signup*/
  /*Style du menu du catalog*/
  .user {
    height: 6vw;
  }
  .menu {
    display: none;
    background-color: rgb(25, 24, 24);
    position: absolute;
    width: 40vw;
    top: 0;
    right: -21vw;
    border-radius: 2vw 0vw 0vw 2vw;
    border-right: 1px solid rgb(25, 24, 24);
  }
  .headermenu {
    padding: 2.85vh 2vw;
  }
  .headermenu img {
    height: 3vw;
  }
  .usernamemenu {
    display: flex;
    gap: 1vw;
    justify-content: space-between;
  }
  .usernamemenu img {
    height: 6vw;
  }
  .menu ul {
    margin-left: 5vw;
    gap: 4vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 0;
    list-style-type: none;
  }
  /*Style du menu du catalog*/
}

/*# sourceMappingURL=style.css.map */
